<!-- reset-password.component.html -->
<h2>Reset Password</h2>
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Reimposta Password </div>
    <div class="card-body px-5">
        <p class="card-text py-2">
           inserisci il tuo email e ti invieremo un'email per reimpostare la password
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email </label>
        </div>
        <a href="#" class="btn btn-primary w-100">Reimposta password</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="#">Login</a>
        </div>
    </div>
</div>
  