<div class="container">

    <h1>Inserisci il tuo Ristorante</h1>

    <form action="/action_page.php">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Nome:</label>
          <input type="email" class="form-control" id="email"  name="email">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Indirizzo:</label>
          <input type="password" class="form-control" id="pwd"  name="pswd">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label"> Tipo di cucina:</label>
            <input type="password" class="form-control" id="pwd"  name="pswd">
          </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
